main{
  padding:75px 0 0 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header{
  width:100dvw;
  height:80px;
  background-color:#2a3342;
  position:fixed;
  z-index:9999;
  top:0;
  left:0;
  
}
header p{
  display:flex inline;
}
#nowTime{
  font-size:30px;
  font-weight:bolder;
  text-align: left;
  padding: 0 10%;
}
#yogurtAnime{
   font-size:55px;
   display: inline-block;
   font-weight:bolder;
}
.friend{
  font-size: 30px;
}
#Moew{
  background:linear-gradient(
    45deg,
  #B87333,
  #C16B2E,
  #C87A3A,
  #CD7F32,
  #D18B4C,
  #D69C60,
  #DDAE73,
  #FFD39B
  );
  background-clip:text;
  color:transparent;
}
footer{
  margin:40px;
}
footer a{
  margin: 0px 20px;
  padding: 15px;
  font-size: 25px;
  border: 5px outset black;
  border-radius: 75%;
  color: white;
}
footer a:hover{
  font-size: 30px;
  color: #8db9ff ;
  background-color: rgba(193, 193, 193, 0.481);
  font-weight: bolder;
}
@media screen and (max-width:768px) {
  main{
    padding:75px 0 0 0;
  }
  #yogurtAnime{
    font-size:16px;
    width:78dvw;
    display: inline-block;
    font-weight:bolder;
  }
  #nowTime{
    font-size:20px;
    font-weight:bolder;
  }
  footer a{
  margin: 0px 8px;
  padding: 8px;
  font-size: 12px;
  }
  footer a:hover{
    font-size: 14px;
  }
}

@media (prefers-color-scheme: light){
  header{
    background-color: #ddeaff;
  }
}